<table>
  <tr>
  <% TravelZooDeal.attribute_names.each do |a| -%>
    <th><%= a %></th>
  <% end %>
  </tr>

  <% @deals.each do |deal| %>
    <tr>
    <% deal.attributes.values.each do |value| %>
      <td><%= value %></td>
    <% end %>
    </tr>
  <% end %>

</table>